body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
}

article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
}

article h2 {
    margin-top: 0;
}

article p {
    font-size: large;
}

article:nth-child(odd) {
    background-color: #e6f2ff;
}
